2023-07-Extrato-American-Bradesco.pdf
Toggl_time_entries_2023-01-01_to_2023-01-31.csv
Primeway - Nota de Débito 0030 - 2023-05.pdf
.gitignore
Swedcham-Debit-Note-Automation-Params.json
Untitled1.txt
chromedriver.exe
.gitignore
